# Database config
DB_NAME=dhis2_audit_vision
DB_USER=postgres
DB_PASSWORD=str
DB_HOST=127.0.0.1
DB_PORT=5433
DB_EXPOSED_PORT=5433
ENVIRONMENT=development

# Server config
HOST=0.0.0.0
PORT=8000

SERVER_DHIS2_URL=https://example.org
SERVER_DHIS2_AUTH=replace_with_base64_credentials
SQL_VIEW_ID=yzUJJJzDYkM
RETRIEVE_SQL_VIEW_ID=aloNfrH2RGq


CONTROL_FILE_PATH=./data/control_file.json
DATA_BASE_DIR=./data


SECRET_KEY=replace_with_a_random_secret
TOKEN_EXPIRE_MINUTES=60

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.org
ADMIN_PASSWORD=replace_with_a_secure_password

OFFSET_HOURS=2

# Email config

EMAIL_HOST=smtp.example.org
EMAIL_PORT=587
EMAIL_HOST_USER=replace_with_smtp_username
EMAIL_HOST_PASSWORD=replace_with_smtp_password
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
