# Database config
DB_NAME=dhis2_audit_vision
DB_USER=postgres
DB_PASSWORD=str
DB_HOST=127.0.0.1
DB_PORT=5433
ENVIRONMENT=  "development"

# Server config
HOST=0.0.0.0
PORT=8000

SERVER_DHIS2_URL=str
SERVER_DHIS2_AUTH=str
SQL_VIEW_ID="yzUJJJzDYkM"
RETRIEVE_SQL_VIEW_ID="aloNfrH2RGq"


CONTROL_FILE_PATH="./data/control_file.json"
DATA_BASE_DIR = "./data"


SECRET_KEY="your_secret_key_here"
TOKEN_EXPIRE_MINUTES= 60 # 1 hour

ADMIN_USERNAME="admin"
ADMIN_EMAIL=str
ADMIN_PASSWORD=str

OFFSET_HOURS=2

# Email config

EMAIL_HOST= str
EMAIL_PORT= int
EMAIL_HOST_USER= str
EMAIL_HOST_PASSWORD= str
EMAIL_USE_TLS= bool
EMAIL_USE_SSL= bool